*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteiner {
    margin: 0 auto;
}

.page-top {
    background-color: #190c3a;
    text-align: center;
    height: 388px;
}

.page-top p {
    color: #f1c50e;
    font-family: 'Doppio One', sans-serif;
}

.page-bottom .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.circle {
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background-color: #f1c50e;
    margin-left: 30px;
}

.box img {
    height: 96px;
    width: 96px;
    position: relative;
    right: 25px;
    top: 52px;
}

.box h1 {
    margin-top: 50px;
    font-family: 'Doppio One', sans-serif;
    color: #190c3a;
    font-size: 20px;
}

.box p {
    margin-top: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #808080;
}

button {
    background-color: #f1c50e;
    border: none;
    border-radius: 10px;
    padding: 14px 41px;
    cursor: pointer;
    color: #190c3a;
    font-family: 'Open Sans', sans-serif;
    font-size: 12.5px;
    font-weight: 700;
    margin: 40px 0;
}

button:hover {
    background-color: #190c3a;
    color: aliceblue;
}

@media screen and (max-width: 768px) {
    body {
        width: 441px;
        min-height: 1393px;
        margin: 0 auto;
    }
    .conteiner {
        width: 350px;
        margin: 0 auto;
    }

    .page-top .conteiner {
        padding: 60px 0px 0 0px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .page-top p {
        font-size: 36px;
        font-weight: 800;
        width: 320px;
    }

    .box-04 {
        position: relative;
        bottom: 140px;
    }

    .box {
        background-color: white;
        border-radius: 30px;
        width: 340px;
        height: 339px;
        padding: 30px 10px;
    }

    button {
        position: relative;
        bottom: 160px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .conteiner {
        width: 1140px;
        margin: 0 auto;
    }
    .page-top .conteiner {
        padding: 80px 0 0 0;
        display: flex;
        justify-content: center;
    }

    .page-top p {
        font-size: 72px;
        width: 886px;
    }

    .box-04 {
        display: flex;
        justify-content: space-between;
    }

    .box {
        width: 24.5%;
        background-color: white;
        border-radius: 30px;
        padding: 35px 20px;
        position: relative;
        bottom: 80px;
    }

    .box h1 {
        margin: 70px 0 0 0;
    }

    button {
        position: relative;
        bottom: 50px;
    }
}